{% extends 'base.html.twig' %}

{% block title %}Delete contact{% endblock %}

{% block content %}
	<h1>Delete contact: {{ contact.firstName }} {{ contact.lastName }}?</h1>
	<a href="{{ path('deleteContactConfirm', {'hash': hash}) }}">
		Yes
	</a>
	<a href="{{ path('contacts') }}">
		No
	</a>
{% endblock %}